.css-om7st-MuiTypography-root {
  display: none;
}
.css-1d9cypr-MuiStack-root svg {
  display: none !important ;
}
.css-1d9cypr-MuiStack-root::after {
  content: "Heaven";
  display: block;
  font-size: 1.3rem;
  position: absolute;
  left: 80px;
  overflow: hidden;
  font-weight: 700;
  color: var(--primary-color);

}
.css-gnvwx2 {
  background-color: white !important;
}
